:root {
    --size: 40px;
    --azzurro: #7CFFD2;
    --azzurro-cella: #6395F1;
}

header {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0;
}

main {
    flex-grow: 1;
    background-color: var(--azzurro);
}

footer {
    background-color: white;
    font-size: .8rem;
    padding: .8rem 0;
}

.viewport-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-boolean {
    height: 40px;
}

.title {
    display: inline-block;
    margin-left: 10px;
}

.campo-minato {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.cella {
    height: var(--size);
    width: var(--size);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}

.on-click {
    background-color: var(--azzurro-cella);
    color: white;
}