:root {
    --azzurro: #7CFFD2;
    --azzurro-cella: #6395F1;
}

main {
    height: 100%;
    background-color: var(--azzurro);
    padding: 2.5rem;
}

.viewport-page {
    height: 100vh;
}

.campo-minato {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.cella {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}